<p>
  <h2><%= @post.title %></h2>
</p>
 
<p>
  <%= @post.text %>
</p>
 
<h4>Comments</h4>
<%= render @post.comments %>
 
<h2>Add a comment:</h2>
<%= render "comments/form" %>
 
<%= link_to 'Edit Post', edit_post_path(@post) %> |
<%= link_to 'Back to Posts', posts_path %>